<ion-content>
  <div class="study">
    <ion-row center></ion-row>
    <h1>Study!</h1>
    <h3>O seu portal<br />de estudos online</h3>
  </div>

  <div>
    <div class="criar">
      <h3>Fazer Login</h3>
      <!-- <a href="/criar-conta">Criar conta</a> -->
      <a routerLink="/criar-conta">Criar conta</a>
    </div>

    <div class="dados">
      <ion-item>
        <ion-input placeholder="E-mail" type="text" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input placeholder="Senha" type="password" [(ngModel)]="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Lembrar-me</ion-label>
        <ion-toggle slot="start" name="lembrar" color="secondary" checked></ion-toggle>
      </ion-item>

      <!-- <a href="#">Esqueci minha senha</a> -->
    </div>

    <div class="logar">

      <section>
        <ion-button expand="block" (click)="logar()">Logar</ion-button>
      </section>

    </div>

    <a routerLink="/" class="voltar">Voltar</a>
  </div>
</ion-content>